/*
feuille de style pour la page d'accueil

body (horizontal)
	nav
	main (vertical)
		header (horizontal)
			div guide
			div
			div guide
		quote
		section (horizontal)
			aside activité
			article histoire
*/
/* ############################################### */
/* main */
main{
	display: flex;
	flex-direction: column;}
/* le header, avec les citations */
header{
	display: flex;
	justify-content: space-around;
	align-items: center;}
header>div{
	text-align: center;}
header>div.g{
	padding:4em;}
header h1{
	font-size: 4em;}
quote{
	font-size: 2em;
	text-align: center;
	margin-bottom: 1em;}
q{
	font-style: italic;}
/* ############################################### */
/* section */
section{
	display: flex;}

/* le aside, avec les prix */
aside{
	flex: 1;
	padding: 1em;
	text-align:center}
aside h3{
	text-transform: uppercase;}
aside h3>small{
	font-size: xx-small;}
aside big{
	font-size: xx-large;}

/* l'article, avec le contenu principal */
article{
	flex: 2;
	padding: 1em;
	font-size: larger;}
article .h{
	padding: 0.2em 1em;}
article p{
	text-align: justify;}
/* ############################################### */

.h, .g, .a{
	transition: box-shadow 500ms;}
