/* feuille de style pour le site entier */

/* police */
@font-face {
  font-family: 'Futura';
  src: url('../polices/Futura.ttf') format('truetype');
}
/* ############################################### */
/* structure de la page */
:root{
	background-color: rgb(250,250,250);}
body{
	margin:0;
	display: flex;
	font-family: "Futura";
	background-color: #FFFFEF;
	min-height: 100vh;}
main {
	flex: 7;
	padding: 2em;
	}
/* ############################################### */
/* navigation, en gris sur la gauche */
nav{
	flex:1;
	background-color: #E4E0D3;
	padding:1em;}
nav h2{
	text-align: center;}
nav>ul li{
	text-align: right;
	list-style-type: none;
	margin: 2em 0 0 0;
	padding: 0.5em;
	border-radius: 1em;
	font-size: larger;}
/* ############################################### */
hr{ /* aspect des barres de séparation */
	width: 60%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));}
a{ 	/* liens */
	text-decoration: none;
	color: black;}

