/*
feuille de style pour la page d'histoire

body (horizontal)
	nav
	article
		div page 1
		div page 2
*/

/* ______________________ page histoire ___________________ */
nav{
	flex: 1;}

article{
	flex:4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: justify;
	font-size: 1.2em;
	padding:1em;}
div.page1, div.page2{
	-moz-columns: 2;
	columns: 2;}
div.page2{
	display: none;}
div.arrow{
	font-size: 4em}
div.left{
	visibility: hidden;
	margin-right:32px;}
div.right{
	margin-left:32px;}

p {
	margin-top:0;
	}
