{% extends 'main/index.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style/activité.css' %}"/>
{% endblock %}

{% block main %}

	<h1>{{activity.titre}}</h1>
	{{activity.date}}</br>
	{{activity.description}}</br>
	{{activity.adresse}}

{% endblock %}
