{% extends 'main/index.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style/activités.css' %}"/>
{% endblock %}

{% block main %}
<h1>Liste des activités</h1>
{% for activity in activities %}
	<a href="{% url 'main:activité' activity.id %}"><h3>{{activity.titre}}</h3></a>
	{{activity.date}}</br>
	{{activity.description}}</br>
	{{activity.adresse}}
	<hr/>
{% empty %}
{% endfor %}
{% endblock %}
