{% extends 'main/index.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style/bistrot.css' %}"/>
{% endblock %}

{% block main %}

	<h1>{{bistrot}}</h1>
	{{bistrot.adresse}}</br>
	{{bistrot.contact}}</br>
	{{bistrot.description}}

{% endblock %}
