{% extends 'main/index.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style/bistrots.css' %}"/>
{% endblock %}

{% block main %}
<h1>Liste des bistrots</h1>
{% for bistrot in bistrots %}
	<a href="{% url 'main:bistrot' bistrot.id %}"><h3>{{bistrot}}</h3></a>
	{{bistrot.adresse}}</br>
	{{bistrot.contact}}
	<hr/>
{% empty %}
{% endfor %}
{% endblock %}
