{% extends 'main/index.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style/contact.css' %}"/>
{% endblock %}

{% block main %}
<a id="mailto" href="mailto:contact@plescoff.fr">Écrire un mail</a>
<div id="mail">
<p> Votre email </p>
<input type="mail"/>
<p> Message </p>
<input type="color"/>
<textarea cols="80" rows="20"></textarea>
</div>
{% endblock %}
