{% extends 'main/index.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style/histoire.css' %}"/>
{% endblock %}

{% block main %}
<article>
<!-- page 1 -->
<div class="left arrow"><a href="#" onclick="toogle(0)">⟨</a></div>
<div class="page1">
<p>
Curieusement l’académie Rabelais est née de la
dernière guerre et notamment, de l’occupation
allemande !</p><p>
Un certain nombre d’écrivains et de journalistes,
entre autres ceux du FIGARO étaient repliés à
LYON; très rapidement ceux-ci ont commencé à
souffrir à la fois des restrictions alimentaires et de
l’éloignement de leurs habitudes.</p><p>
La plupart d’entre eux connaissaient, ou même
étaient amis de l’écrivain Marcel GRANCHER
auteur notamment du merveilleux "Cinq de campagne"
et du célèbre "Charcutier de Machonville"
ainsi que du chroniqueur gastronomique : Henry
CLOS-JOUVE. Or ces deux compères avaient
depuis des lustres de sympathiques relations avec
tous les bistrots lyonnais, connus sous le nom de
"Bouchons".</p><p>
Leurs amis leur demandaient donc s’ils ne pouvaient
pas essayer d’organiser des dîners où faire
bonne chère et le vin permettraient d’évoquer le
bon vieux temps d’avant guerre.
Ceci se réalisa et une fois par semaine, tout un
groupe de gourmands et même mieux, de fins
Gourmets, se trouva réuni devant une table bien
garnie.</p><p>
Bien entendu, aucune association formelle ne fut
créée mais, se souvenant qu’une oeuvre caritative
s’appelait "la goutte de lait" Marcel GRANCHER
donna le nom de "la Goutte de vin" cette réunion
amicale hebdomadaire.</p><p>
Les derniers temps de l’occupation ne permettaient
plus guère ces retrouvailles entre gens qui
auraient pris et fait prendre aux autres trop de risques
étant leurs activités clandestines; les dîners
cessèrent.</p><p>
La guerre se termine enfin, beaucoup retrouvent
Paris et conservent du séjour lyonnais le souvenir
ému de ces rencontres amicales.</p><p>
Georges RAVON, journaliste au FIGARO va trouver
Marcel GRANCHER et lui demande de trouver
une idée qui permettrait à tous ces gens qui
avaient tant sympathisé de se retrouver régulièrement.
</p><p>
La première idée fut de créer une Académie
COURTELINE, mais la veuve de l’auteur
"Marie-Jeanne" en acceptait l’idée, mais à la condition 
de désigner elle même les académiciens.
Et voilà pourquoi est née le 10 Juin 1948,
L’ACADEMIE RABELAIS : il n’y avait pas de Veuve
La liste des premiers membres fut la suivante :
Maurice Sailland, dit Curnonsky - Pierre Scize -
André Berry - Julien Pavil - Yves Gandon - Kleber
Haedens - Yves Krier - Paul Gordeaux - Georges
Ravon - Raymond Souplex - J,P. Gassier - André
Warnod - Geo London - Henry Clos Jouve - Marcel
E.Grancher - Paul Vincent - Michel Herbert - Henri
Monier - Henri Jeanson - J. Sennep.</p><p>
</div>
<!-- page 2 -->
<div class="page2">
Chaque fauteuil avait le nom d’un Cru de vin
choisi par l’Académiciens en fonction de sa dilection
personnelle particulière . </p><p>
Il y eut au fil des ans pas mal de changements
aux statuts, mais l’esprit de ceux-ci est globalement
resté le même.</p><p>
A ce jour, l’Académie décerne quatre récompenses :</p>
<ol>
<li> Un prix littéraire à une oeuvre d’inspiration
rabelaisienne, ou, à tout le moins, une oeuvre
gaie et de bonne humeur. Il est doté de vingt
quatre bouteilles de Beaujolais, offertes par
l’U.I.V.B. (Union Interprofessionnelle des vins
du Beaujolais) et l'Académie Rabelais
</li><li>La Coupe du Meilleur Pot, attribuée à un Bistrot
servant au comptoir des vins de qualités,
choisis par le patron de l’établissement et, dans
la mesure du possible, mis en bouteilles par lui
. Cette Coupe est offerte au nom du Patron de
l’établissement; celui-ci peut continuer à en
faire état s’il continue d’exercer le même métier
ailleurs, mais son successeur n’y a pas droit.</li></ol>
<p>
La Coupe passe d’année en année de mains en
mains le récipiendaire conservant un diplôme,
qui devient diplôme de bronze après dix ans de
continuité, d’argent après vingt ans, d’or après
vingt cinq ans.</p>
<ol start="3"><li>Le Prix Raoul PONCHON, représenté par un
diplôme attribué à un restaurateur pour la
qualité de son accueil et sa gentillesse.</li>
<li>Un diplôme particulier est attribué à un restaurateur,
ou à un Chef, lorsque les Académiciens 
considèrent que celui-ci est mérité
par la haute qualité de sa cuisine. Il est rare car
il n’est attribué qu’à bon escient.</li></ol>
<p>Au fil des ans, il y eut, outre les Académiciens
dont le nombre passa de Vingt à trente, des
Consuls également au nombre de trente.</p><p>
Aujourd’hui, il n’y a plus que des Académiciens,
au nombre de cinquante, et
quelques Consuls stagiaires, qui attendant au
minimum un an pour devenir Académicien, ou
davantage si le nombre de Cinquante est atteint.</p>
</div>
<div class="right arrow"><a href="#" onclick="toogle(1)">⟩</a></div>
</article>
{% endblock %}

{% block script %}
<script src="{% static 'main/js/histoire.js' %}"></script>
{% endblock %}
