{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'main/style/ar.css' %}"/>
	{% block style %}
	<link rel="stylesheet" href="{% static 'main/style/accueil.css' %}"/>
	{% endblock %}
	<title>Académie Rabelais</title>
</head>
<!--__________________________________________ -->
<body> <!-- nav main -->
<nav>
	<a href="{% url 'main:accueil' %}">
		<img src="{% static 'main/images/ar.png' %}"/></a>
	<a href="{% url 'main:accueil' %}">
		<h2>académie rabelais</h2></a>
	<ul>
	<a href="{% url 'main:histoire' %}">
		<li class="h" onmouseover="selectionner('h')" onmouseout="deselectionner('h')">histoire</li></a>
	<a href="{% url 'main:activités' %}">
		<li class="a" onmouseover="selectionner('a')" onmouseout="deselectionner('a')">activités</li></a>
	<a href="{% url 'main:bistrots' %}">
		<li class="g" onmouseover="selectionner('g')" onmouseout="deselectionner('g')">guide</li></a>
	<a href="{% url 'main:membres' %}">
		<li>membres</li></a>
	<a href="{% url 'main:contact' %}">
		<li>contact</li></a>
	</ul>
</nav>
<!--__________________________________________ -->
<main> <!-- header quote section -->
{% block main %}
<header>
	<div class="g" onmouseover="selectionner('g')" onmouseout="deselectionner('g')">
	à la une ... <br/>
	<em>Cuvée spéciale</em>
	</div>
	<div>
	<img width="256px" src="{% static 'main/images/AR.png' %}"/> <h2>académie rabelais</h2>
	</div>
	<div class="g" onmouseover="selectionner('g')" onmouseout="deselectionner('g')">
	à la une ... <br/>
	<em>Nouveauté dans le guide</em>
	</div>
</header>
<quote><q>L'appétit vient en mangeant ; la soif s'en va en buvant.</q> François Rabelais</quote>
<!--__________________________________________ -->
<section> <!-- aside article -->
<aside class="a" onmouseover="selectionner('a')" onmouseout="deselectionner('a')">
	
	{% for activity in activities %}
	<div><h3>{{activity.titre}}</h3>
	<big>{{activity.date.year}}</big></br>
	{{activity.description}}</br>
	{{activity.lieu}}
	</div><hr/>
	
	{% empty %}
	Pas d'activités
	{% endfor %}
</aside>
<!--__________________________________________ -->
<article>
	<p>Cette association a pour objet d'encourager chez ses membres et leurs amis le respect des principes du Maître François Rabelais: le rire, l'ironie, la farce, la chanson joyeuse, le bien penser, le gai savoir, et bien sûr le bien manger et le bien boire.</p>
	<hr/>
	<div class="h" onmouseover="selectionner('h')" onmouseout="deselectionner('h')">
	<p>Curieusement l’académie Rabelais est née de la dernière
	guerre et notamment, de l’occupation allemande !</p><p>
	Un certain nombre d’écrivains et de journalistes, entre autres ceux du FIGARO étaient repliés à LYON; très rapidement ceux-ci ont commencé à souffrir à la fois des restrictions alimentaires et de l’éloignement de leurs habitudes.</p><p>
	La plupart d’entre eux connaissaient, ou même étaient amis de l’écrivain Marcel GRANCHER auteur notamment du merveilleux "Cinq de campagne" et du célèbre "Charcutier de Machonville" ainsi que du chroniqueur gastronomique : Henry CLOS-JOUVE...
	<a href="{% url 'main:histoire' %}"><em>Lire la suite</em></a>
	</p>
	</div>
</article>
</section>
{% endblock %}
</main>
{% block script %}
<script src="{% static 'main/js/accueil.js' %}"></script>
{% endblock %}
</body>
</html>
