{% extends 'main/index.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style/membre.css' %}"/>
{% endblock %}

{% block main %}

	<h1>{{membre}}</h1>
	{{membre.date_naissance}}</br>
	{{membre.email}}</br>
	{{membre.adresse}}

{% endblock %}
