{% extends 'main/index.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/style/membres.css' %}"/>
{% endblock %}

{% block main %}
<h1>Liste des membres</h1>
{% for membre in membres %}
	<a href="{% url 'main:membre' membre.id %}"><h3>{{membre}}</h3></a>
	{{membre.date_naissance}}</br>
	{{membre.email}}</br>
	{{membre.adresse}}
	<hr/>
{% empty %}
{% endfor %}
{% endblock %}
